@import "./bulma.css";

:root {
    --title-size: 5rem;

    --background-color: #070707;
}

#index-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#index-background canvas {
    margin: 0;
    padding: 0;
    display: block;
}

.index-title {
    font-size: var(--title-size);
    color: #fff;
}

.index-subtitle {
    font-size: 3rem;
    color: #fff;
}

.background {
    background-color: var(--background-color);
}

.index-shadow-bottom {
    box-shadow: inset 0 -1rem 1rem rgb(0, 0, 0.8);
}

.index-shadow-top {
    box-shadow: inset 0 1rem 1rem rgb(0, 0, 0.8);
}
